<!doctype html>
<html>
  <head>
    <title>unsourced.org extension</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <style>
      body {
        min-width:357px;
        overflow-x:hidden;
      }
    </style>
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/ashe.js"></script>
    <script src="/js/popup.js"></script>
</head>
  <body>


<!-- template for when we have data about the article -->
<script id="popup-details-tmpl" type="text/x-jquery-tmpl">
{% if debug_msg %}
  <pre>
  {{debug_msg}}
  </pre>
</pre>
{% endif %}
{% if lookupResults %}

  {% if lookupResults.sources.length %}
    <h3>Sources</h3>
    <ul class="srclist">
    {% for src in lookupResults.sources %}
      <li class="src src-{{src.kind}}">
        <div class="src-info">
        {% if src.title %}
        <a target="_blank" href="{{src.url}}">{{src.title}}</a>
        {% else %}
        <a target="_blank" href="{{src.url}}">{{src.url}}</a>
        {% endif %}

        {% if src.publication %}
          {% if src.pubdate %}
            <span class="publication">{{src.publication}}</span>, {{src.pubdate}}
          {% else %}
            <span class="publication">{{src.publication}}</span>
          {% endif %}
        {% endif %}
        {% if src.doi %}
          <span class="doi">doi:<a target="_blank" href="http://dx.doi.org/{{src.doi}}">{{src.doi}}</a></span>
        {% endif %}
        </div>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <h3>No Sources</h3>
  {% endif %}

  {% if lookupResults.needs_sourcing %}
    <em>This article is still missing some sources.</em>
    <a target="_blank" class="btn" href="{{unsourced_url}}">Source it</a>
  {% endif %}

  {% if lookupResults.labels.length %}
    <h3>Warning Labels</h3>
    {% for label in lookupResults.labels %}    
<div class="label">
<img class="label-icon" src="{{label.icon_url}}"/><div class="label-bod"><div class="label-head">WARNING</div>{{label.description}}</div>
</div>
    {% endfor %}
  {% else %}
    <h3>No Warning Labels</h3>
    <div><a target="_blank" class="btn" href="{{unsourced_url}}">Add one</a></div>
  {% endif %}

    <br/>
    <br/>
<!--
    <small><a target="_blank" href="{{unsourced_url}}">More information about this article</a> (at unsourced.org)</small>
-->
{% endif %}
</script>


  <div id="content">
  </div>
  </body>
</html>

