<!doctype html>
<html>
  <head>
    <title>unsourced.org extension</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <style>
      body {
        min-width:357px;
        overflow-x:hidden;
      }
    </style>
    <script src="/js/lib/ashe.js"></script>
    <script src="/js/lib/parseuri.js"></script>
    <script src="/js/popup.js"></script>
</head>
  <body>



<!-- template to placeholder content, on pages we're not active on -->
<script id="popup-inactive-tmpl" type="text/x-jquery-tmpl">
<p>
This is the unsourced.org extension.
</p>
<p>
When viewing news articles, information about their sources will appear here.
</p>
</script>



<!-- template to display details about a page we're tracking -->
<script id="popup-details-tmpl" type="text/x-jquery-tmpl">
{% if isDebugSet %}
  <pre>
  {{getDebugTxt}}
  </pre>
</pre>
{% endif %}






<!-- show results -->
{% if wasArticleFound %}

    <h3>Sources</h3>
    <ul class="srclist">
    {% for src in lookupResults.sources %}
      <li class="src src-{{src.kind}}">
        <div class="src-info">
        <span class="src-link">{{src|sourcelink}}</span>
        {% if src.publication %}
          {% if src.pubdate %}
            <span class="publication">{{src.publication}}</span>, {{src.pubdate}}
          {% else %}
            <span class="publication">{{src.publication}}</span>
          {% endif %}
        {% endif %}
        {% if src.doi %}
          <span class="doi">doi:<a target="_blank" href="http://dx.doi.org/{{src.doi}}">{{src.doi}}</a></span>
        {% endif %}
        </div>
      </li>
    {% endfor %}
    </ul>

  {% if lookupResults.needs_sourcing %}
    <em>This article is still missing some sources.</em>
    <a target="_blank" class="btn" href="{{lookupResults.unsourced_url}}">Source it</a>
  {% endif %}

  {% if lookupResults.labels.length %}
    <h3>Warning Labels</h3>
    {% for label in lookupResults.labels %}    
<div class="label">
<img class="label-icon" src="{{label.icon_url}}"/><div class="label-bod"><div class="label-head">WARNING</div>{{label.description}}</div>
</div>
    {% endfor %}
  {% else %}
    <h3>No Warning Labels</h3>
    <div><a target="_blank" class="btn" href="{{lookupResults.unsourced_url}}">Add one</a></div>
  {% endif %}

    <br/>
    <br/>


  {% if lookupResults.unsourced_url %}
  <a target="_blank" href="{{lookupResults.unsourced_url}}">See this article's page on unsourced.org</a>
  {% endif %}


{% else %}

  <!-- article not found on unsourced (yet) - show what we know so far -->

  {% if isLookupPending %}
   <p><img src="/img/busy.gif" />Please wait - checking with unsourced.org... </p>
  {% endif %}
  {% if isLookupError %}
    <p class="notice">
      Sorry - there was a problem checking this page on unsourced.org...<br/>
      <a class="start-manual-lookup" href="#">try again</a>
    </p>
  {% endif %}

  {% if contentReady %}
    {% if isLookupNone %}
      <!-- no lookup was attempted. give the option to manually start lookup -->
      No information about this page.<br/>
      <a class="start-manual-lookup" href="#">Look it up on unsourced.org</a>
    {% endif %}
  {% else %}
    <p><img src="/img/busy.gif" />Waiting for page to load... </p>
  {% endif %}

  {% if isLookupReady %}
    <!-- lookup worked, but article wasn't found on unsourced -->
    <p>No information on file about this page</p>
    {% if pageDetails %}
      {% if pageDetails.isDefinitelyNotArticle %}
      {% else %}
        <!-- page could be an article... -->
        {% if pageDetails.indicatorsFound %}
          <p class="notice">This page looks like it might be missing some sources<br/>
          (it contains phrases like "scientists say..." "a report out today" etc...)
          <a class="btn" target="_blank" href="{{getSubmitURL}}">Submit to unsourced.org</a>
          </p>
        {% else %}
          <a class="btn" target="_blank" href="{{getSubmitURL}}">Submit to unsourced.org</a>
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}


{% endif %}
</script>


  <header> 
    <h3>Unsourced extension</h3>
  </header>
  <div id="content">
  </div>
  <footer>
  </footer>
  </body>
</html>

