<!doctype html>
<html>
  <head>
    <title>unsourced.org extension</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <style>
      body {
        min-width:357px;
        overflow-x:hidden;
      }
    </style>

    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/ashe.js"></script>
    <script src="/js/popup.js"></script>
</head>
  <body>


<!-- template for when we have data about the article -->
<script id="popup-found-tmpl" type="text/x-jquery-tmpl">

    <h3>Sources</h3>
    <ul class="srclist">
    {%for src in sources%}
      <li class="src src-{{src.kind}}">
        <div class="src-info">
        {% if src.title %}
        <a target="_blank" href="{{src.url}}">{{src.title}}</a>
        {% else %}
        <a target="_blank" href="{{src.url}}">{{src.url}}</a>
        {% endif %}

        {% if src.publication %}
          {% if src.pubdate %}
            <span class="publication">{{src.publication}}</span>, {{src.pubdate}}
          {% else %}
            <span class="publication">{{src.publication}}</span>
          {% endif %}
        {% endif %}
        {% if src.doi %}
          <span class="doi">doi:<a target="_blank" href="http://dx.doi.org/{{src.doi}}">{{src.doi}}</a></span>
        {% endif %}
        </div>
      </li>
    {% else %}
      <li><em>None</em></li>
    {% endfor %}
    </ul>

    {% if needs_sourcing %}
    <em>This article is still missing some sources.</em>
    (<a target="_blank" href="{{unsourced_url}}">Add one</a>)
    {% endif %}

    <h3>Warning Labels</h3>
    {% for label in labels %}    
<div class="label">
<img class="label-icon" src="{{label.icon_url}}"/><div class="label-bod"><div class="label-head">WARNING</div>{{label.description}}</div>
</div>
    {% else %}
    <div><em>none</em> (<a target="_blank" href="{{unsourced_url}}">Add one</a>)</div>
    {% endfor %}

    <br/>
    <br/>

    {% if needs_sourcing %}
    <a target="_blank" class="btn btn-major" href="{{unsourced_url}}">Add sources</a>
    {% else %}
    <a target="_blank" class="btn" href="{{unsourced_url}}">View at unsourced.org</a>
    {% endif %}
</script>

<!-- template for when we have no data about the article -->
<script id="popup-notfound-tmpl" type="text/x-jquery-tmpl">
  <p>Sorry, no information currently held about this article. Think it needs sourcing?<br/>
    <br/>
    <br/>
  <a target="_blank" class="btn btn-major" href="{{submit_url}}">Find sources</a>
  </p>
</script>

  <div id="content">
  </div>
  </body>
</html>

